*{
	margin: 0px;
	padding: 0px;
}
.wrap{
	width: 1200px;
	height: 1000px;
	background-color:#f5f5f5;
	margin: 0 auto;
}
.head{
	width: 1200px;
	/* height: 200px; */
	/* border: 10px solid blue; */
	background-color: #f5f5f5;
	overflow: hidden;
}
.head h2{
	font-size: 22px;
	color: #333;
	font-weight: 300;
	float: left;
}
.head div span{
	font-size: 16px ;
	color: #424242;
	margin-left: 30px;
	cursor: pointer;
}
.head div{
	float: right;
}
.head div .re,.head div span:hover{
	border-bottom: 2px solid #FF6700;
	color: #FF6700;
	padding-bottom: 3px;
}
.main{
	width: 1200px;
	height: 614px;
	background-color: #f5f5f5;
}
.main_left{
	width: 234px;
	height: 614px;
	background-color:#f5f5f5;
	float: left;
}
.main_left img{
	width: 234px;
	height: 300px;
	margin-bottom: 14px;
	float: left;
}
.main_right{
	width: 960px;
	height: 614px;
	background-color: #f5f5f5;
	float: left;
	text-align: center;
}
.main_right .picture{
	width: 234px;
	height: 300px;
	float: left;
	margin-bottom: 14px;
	background-color: white;
	margin-left: 6px;
}
.main_right .picture h3{
	color: black;
	 font-size: 15px; 
	 font-weight: 400;
	 margin: 0px 10px 2px;"
}
.main_right .picture p{
	color: #b0b0b0;
	margin: 0px 10px 10px;
	font-size: 12px;
}
.wrap .main .main_right .picture span{
	color: #FF6700;
	margin: 0px 10px 14px;
	font-size: 14px;
}
.main .main_right .second1,.main .main_right .second2{
	width: 234px;
	height: 140px;
}
.wrap .main .main_right .second2 img,.wrap .main .main_right .second1 img{
	width: 80px;
	height: 80px;
	margin-top: 30px;
}
.wrap .main .main_right .second1 .second3,.wrap .main .main_right .second2 .second3{
		display: inline-block;
}
.wrap .main .main_right .second1 .second3{
		display: inline-block;
}
.wrap .main .main_right.second3{
		display: inline-block;
}
.wrap .main .main_right .second1 img{
		display: inline-block;
}